<ng-template #modalTitle>
    <h2>Finalizar Compra</h2>
</ng-template>

<div class="modal-content">
    <p>Total de Itens: <strong>{{ totalItems() }}</strong></p>
    <p>Preço Total: <strong>{{ totalPrice() }}€</strong></p>
    
    <nz-form-item>
            <nz-form-label nzFor="firstName">Primeiro nome:</nz-form-label>
            <nz-form-control class="ml-[5px]">
                <input nz-input id="firstName" [(ngModel)]="user.firstName" name="firstName" />
            </nz-form-control>
    </nz-form-item>

    <nz-form-item class="flex">
        <nz-form-label nzFor="lastName">Último nome:</nz-form-label>
        <nz-form-control class="ml-[5px]">
            <input nz-input id="lastName" [(ngModel)]="user.lastName" name="lastName" />
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label nzFor="email">Email:</nz-form-label>
        <nz-form-control class="ml-[5px]">
            <input nz-input id="email" [(ngModel)]="user.email" name="email" type="email" />
        </nz-form-control>
    </nz-form-item>
</div>

<div class="flex justify-end gap-2 mt-6">
    <button nz-button nzType="default" (click)="cancelModal()">Cancelar</button>
    <button nz-button nzType="primary" (click)="saveUser()">Encomendar</button>
</div>
