<div  class="product-card ">
    <div class="stitched-border inside-container">

        <div class="image-selector">  
            <app-image-slider 
            [slides]="product().imagePaths"
            />
        </div>
        
        <div class="product-footer">
            <div class="info">
                <h3>{{ product().name }}</h3>
            @if(product().price) {
                <p>{{ product().price }}€</p>
            } @else {
                <p>Sob consulta</p>
            }
        </div>
            <button class="add-btn" (click)="addToCart()">
                🛒 Adicionar
            </button>
        </div>
    </div>
</div>
